body{
background: gray;	font-family: Consolas; color:white;
	}
table{
border:4px solid yellow; 
color:white; background: 
linear-gradient(to right,green,purple); 
font-family: consolas; 
width: 80%;
}
th{
	border:4px solid yellow;
	}
td{
	border:2px solid yellow	; 
	}
	